/* 
>> NOTES/CREDITS 
- Cursors from 1davi on Deviantart - https://www.deviantart.com/1davi/art/White-Cursor-382757360
- 
*/

@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
  background-color: #f7e9d7;
  cursor: url(../images/Cursors/Cursor.cur), auto !important;
  scroll-behavior: smooth;
}

/* HOVER */
#go-down-button:hover,
a:hover,
#title:hover {
  cursor: url(../images/Cursors/Link.cur), auto !important;
}

/* HERO SECTION */
.hero {
  background-color: #47382f;
}
.hero-body > .container > .title,
.hero-body > .container > .subtitle,
#title,
.navbar-burger {
  color: #f7e9d7 !important;
}
#emojiMe {
  width: 120px;
  margin-bottom: 20px;
}
.active-item,
#go-down-button {
  color: #ff7cb3 !important;
}
.social-links > a {
  margin: 0 7px;
}
.social-links > a > svg {
  fill: #f7e9d7 !important;
  width: 25px !important;
}
#title {
  font-weight: bold;
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
#go-down-button {
  font-size: 30px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
#go-down-button:hover {
  transform: translateY(10px) !important;
}
#new-section {
  background-color: #f7e9d7 !important;
}

/* NAV BAR */
.navbar {
  /* border-bottom: 1px solid #322822; */
  background-color: #47382f !important;
}
.navbar-burger {
  font-weight: bold;
}
.navbar-end > a {
  color: #f7e9d7;
  font-weight: bold;
}
.dot {
  padding: 0 5px;
}

.footer {
  padding: 1rem;
  background-color: #47382f;
  color: #f7e9d7;
  font-size: 0.8rem;
}
